.incoming {
    background: #9894e7;
    color: #fff;  
}
.outgoing {
    background: #a6a8ce;
    color: #eeeff5;
    margin-left: auto;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}
.message {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}